# Node + pnpm
node_modules/
pnpm-lock.yaml

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Build 
dist

# System files
.DS_Store
Thumbs.db

# Archives
*.tgz

# Test app
tmp/
