@font-face {
  font-family: 'PrintChar21';
  src:
    url('/fonts/PrintChar21.woff2') format('woff2'),
    url('/fonts/PrintChar21.woff') format('woff'),
    url('/fonts/PrintChar21.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  background: black;
  color: #3fff00;

  /* Center the screen horizontally */
  display: flex;
  justify-content: center;
  height: 100vh; /* Full viewport height */
}

.inverted {
  background-color: #3fff00;
  color: black;
}
